* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.projects-background {
  background-color: #0020f4;
  height: 308px;
  max-width: 1920px;
}
.project-image {
  width: 463px;
  height: 420px;
  object-fit: cover;
  border-radius: 15px;
}
.projects {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1475px;
}
.project-item {
  display: inline-block;
  position: relative;
}
.project-item:not(:last-of-type) {
  margin-right: 25px;
}
.project-item:nth-of-type(2) {
  top: -50px;
}
.project-text {
  font-size: 18px;
  line-height: 22px;
  color: #171717;
  width: 443px;
  position: absolute;
  top: 285px;
  left: 10px;
  border-radius: 12px;
  padding: 30px 74px 30px 30px;
  text-align: left;
  backdrop-filter: blur(10px) brightness(1.15);
  font-family: "Helvetica Neue LT GEO 55 Roman";
}
.project-title {
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  margin-bottom: 80px;
}
.otherprojects {
  font-size: 18px;
  line-height: 23px;
  color: #171717;
  position: absolute;
  right: 40px;
  margin-top: 70px;
}
.otherprojects::before {
  content: "|";
}
.project-bullet {
  display: inline-block;
  background-color: #ffffff;
  opacity: 0.3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.project-bullet-container {
  position: absolute;
  top: 10px;
  right: 100px;
}
.project-bullet.active {
  opacity: 1;
}


.left{
	width:50%;
	float:left;
}
.right{
	width:50%;
	float:left;
}
.photo{
	width:707px;
	background: transparent url('img/Rectangle 7.png') 0% 0% no-repeat padding-box;
	border-radius: 15px;
	opacity: 1;
	margin-top: 320px;
	border-left: 5px solid blue;
	border-bottom: 5px solid blue;
	linear-gradient:#0A22F4;
}
.service{
	color: #171717;
}
.text{
	margin-top: 60px;
	width:463px;
}
.container{
	max-width: 1920px;
	margin: 0 auto;
}

